body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 95%);
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  color: white;
  display: flex;
  margin: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
  max-width: 910px;
}

.card {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card img {
  width: 64px;
  height: 40px;
}

.card h2 {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", system-ui;
  font-size: 2.5rem;
  color: hsl(0, 0%, 95%);
}
.card p {
  opacity: 0.75;
  line-height: 1.75;
  margin-bottom: 2.5rem;
}
.card a {
  border: 2px solid hsl(0, 0%, 95%);
  padding: 1em 2em;
  border-radius: 2em;
  margin-right: auto;
  margin-top: auto;
  background-color: hsl(0, 0%, 95%);
}
.orange-card {
  background: #e38826;
}
.orange-card a{
  color: #e38826;
}

.cyan-card {
  background: hsl(184, 100%, 22%);
}

.cyan-card a{
  color: hsl(184, 100%, 22%);
}
.green-card {
  background: hsl(179, 100%, 13%);
}
.green-card a {
  color: hsl(179, 100%, 13%);
}


@media (max-width: 850px){
  .card-container{
    flex-direction: column;
    max-width: 400px;
    
  }
  .card {
    width: unset;
    width: auto;
    min-height: 215px;
}
}